$color-light-1: #111111;
$color-light-2: #2f4f4f; /* darkslategray */
$color-blue-1: #483d8b;
$color-white-1: white;
$color-white-2: #f5f5f5;

$background-color-light-1: #ffffff;
$background-color-light-2: #f5f5f5;

$background-color-dashboard-light: $background-color-light-1;
$background-color-body-light: $background-color-light-2;
$color-body-light: $color-light-1;

$border-color-light: #483d8b; /* darkslateblue */

$button-background-light: #483d8b;
$button-color-light: $color-white-2;
$button-background-hovered-light: rgba(
    $color: #483d8b,
    $alpha: 0.85
);
$button-background-disabled-light: rgba(slateblue, 0.85);
$button-color-icon-close-light: $color-light-1;
$button-color-icon-close-hovered-light: $color-light-2;

$link-color-light: $color-light-2;
$link-color-active-light: $color-light-1;
$link-color-hovered-light: $color-light-1;
$link-background-color-active-light: $background-color-light-1;

$background-color-overlay-light: rgba(
    $color: darkslategray,
    $alpha: 0.55
);


