* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

.no-script-message {
    margin: 2rem;
    font-size: 1.4rem
}

@import "base";
@import "fonts";