/* Layout sizes and definitions */
/* Z-Indexes */
/* Breakpoints */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap");
body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-script-message {
  margin: 2rem;
  font-size: 1.4rem;
}

.dashboard-home {
  flex-grow: 1;
}

.write-page,
.edit-page,
.show-page,
.posts-page,
.account-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 1rem;
  min-height: calc(100% - 5rem - 2.5rem);
  width: 100%;
  max-width: 75rem;
}

/* Layout */
.dashboard__main {
  width: calc(100% - 20rem);
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}
@media screen and (max-width: 750px) {
  .dashboard__main {
    width: 100%;
  }
}

.dashboard__side-menu__header {
  width: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.dashboard__side-menu {
  width: 20rem;
  min-width: 20rem;
}
.dashboard__side-menu__wrapper {
  height: 100vh;
  position: fixed;
  min-width: 20rem;
  padding: 0.4rem;
}
.dashboard__side-menu__nav {
  flex-grow: 1;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}
.dashboard__side-menu__nav__menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  /* Hover an item that is NOT active */
  /* Use default cursor for active links */
}
.dashboard__side-menu__nav__menu__item {
  font-size: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
}
.dashboard__side-menu__nav__menu__item--active {
  background-color: white;
}
.dashboard__side-menu__nav__menu__item__link {
  width: 100%;
  padding: 2rem;
  text-decoration: none;
  display: flex;
  gap: 1rem;
  color: inherit;
}
.dashboard__side-menu__nav__menu__item:hover:not(.dashboard__side-menu__nav__menu__item--active) {
  color: rgba(72, 61, 139, 0.85);
}
.dashboard__side-menu__nav__menu__item--active .dashboard__side-menu__nav__menu__item__link {
  cursor: default;
}

.dashboard {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 750px) {
  .dashboard__side-menu {
    display: none;
  }
}

/* Components */
.button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  color: azure;
  background-color: darkslateblue;
  cursor: pointer;
}
.button:hover {
  background-color: rgba(72, 61, 139, 0.85);
}
.button__submit {
  position: fixed;
  bottom: 10px;
  margin-right: 1rem;
  z-index: 12100;
  font-size: 1.2rem;
}
.button__submit:disabled {
  cursor: default;
  background-color: rgba(106, 90, 205, 0.85);
}

.app-logo__logo {
  font-size: 2.8rem;
  font-weight: bold;
  display: none;
}
.app-logo__main {
  font-size: 2.8rem;
  width: 100%;
}
.app-logo__sub {
  font-size: 1.6rem;
  width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(47, 79, 79, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  min-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-full {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  color: rgba(119, 136, 153, 0.75);
}
.loading-full__content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.loading-full__content__wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* https://css-loaders.com/spinner/  #13 */
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, darkslateblue 94%, rgba(0, 0, 0, 0)) top/8px 8px no-repeat, conic-gradient(rgba(0, 0, 0, 0) 30%, darkslateblue);
  mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - 8px), #000 0);
  -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}

@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
.header {
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.header__account-widget {
  width: fit-content;
}
@media screen and (max-width: 750px) {
  .header__account-widget {
    display: none;
  }
}
.header__account-widget__user-avatar {
  position: relative;
  width: 3.8rem;
  height: 3.8rem;
  object-fit: fill;
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
}
.header__account-widget__user-avatar--no-session {
  border: 1px solid darkslategray;
}
.header__account-widget__user-avatar__icon {
  color: darkslategray;
}
.header__account-widget__details {
  position: absolute;
  width: max-content;
  top: 5rem;
  right: 1rem;
  padding: 0.4rem;
  border: 1px solid gray;
  background-color: white;
  z-index: 10000;
}
.header__account-widget__details__email {
  font-size: 1.4rem;
}
.header__account-widget__details__link {
  width: 100%;
  text-decoration: none;
}
.header__account-widget__details__link__text {
  width: 100%;
  font-size: 1.6rem;
  color: black;
  padding: 1rem;
  text-align: center;
}
.header__account-widget__details__button {
  border: none;
  background-color: transparent;
  padding: 1rem;
  cursor: pointer;
  width: 100%;
}

.header__show-side-menu {
  display: none;
}
.header__show-side-menu__button {
  display: none;
}

@media screen and (max-width: 750px) {
  .header__show-side-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12000;
    width: 100%;
    height: 100%;
    background-color: darkslateblue;
    color: white;
    padding: 3rem;
  }
  .header__show-side-menu__button {
    background-color: transparent;
    border: none;
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: white;
  }
  .header__show-side-menu__button--open {
    color: black;
  }
  .header__show-side-menu .dashboard__side-menu__nav__menu__item--active {
    background-color: lightslategray;
  }
  .header__show-side-menu .dashboard__side-menu__nav__menu__item__link {
    color: white;
  }
}
.locator {
  display: flex;
  height: 2.5rem;
  gap: 1rem;
  padding-left: 1rem;
  width: 100%;
  max-width: 75rem;
  border-top: 1px solid darkslateblue;
  padding-top: 0.3rem;
}
.locator__locations {
  font-size: 1.6rem;
}
.locator__locations__location {
  display: flex;
  justify-content: center;
  align-items: center;
}

.account {
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin: 3rem 1rem;
  flex-wrap: wrap;
}
.account__avatar {
  position: relative;
  width: 30rem;
  height: 30rem;
  border-radius: 100%;
  overflow: hidden;
}
.account__details {
  flex-grow: 1;
}
.account__details__name {
  font-size: 3rem;
}
.account__details__email {
  font-size: 2rem;
}
.account__logout {
  width: 100%;
  margin-top: 3rem;
}
.account__logout__button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  color: azure;
  background-color: darkslateblue;
  cursor: pointer;
}
.account__logout__button:hover {
  background-color: rgba(72, 61, 139, 0.85);
}

.title-input {
  width: 100%;
  height: 4rem;
  padding: 2rem;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-size: 2rem;
}

.post {
  width: 100%;
  max-width: 75rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.post__header {
  max-width: 100%;
  height: 100%;
  min-height: 30rem;
  position: relative;
  background-color: lightslategray;
}
.post__header__image {
  width: 100%;
  max-width: 75rem;
  height: auto;
  object-fit: cover;
}
.post__header__image__attribution {
  position: absolute;
  bottom: 0.4rem;
  right: 0.4rem;
  padding: 0.2rem;
  font-size: 1.2rem;
  background-color: rgba(255, 248, 220, 0.5);
}
.post__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.5rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  margin-left: 3rem;
  font-size: 4.2rem;
}
.post__body {
  margin-left: 4.5rem;
  flex-grow: 1;
}
.post__body .ql-editor {
  font-size: 1.8rem;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
}
.post__edit-button {
  font-size: 1.4rem;
  background-color: darkslateblue;
  border-radius: 0.4rem;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: whitesmoke;
}
.post__edit-button__text {
  font-weight: bold;
}

.create,
.edit {
  width: 100%;
  max-width: 75rem;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.create__label,
.edit__label {
  font-size: 2rem;
  margin-bottom: 0.4rem;
}
.create__image, .create__title, .create__body,
.edit__image,
.edit__title,
.edit__body {
  margin-bottom: 2rem;
}
.create__body,
.edit__body {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.create__body .ql-editor,
.edit__body .ql-editor {
  font-size: 1.6rem !important;
  padding: 0 !important;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
}
.create__body .ql-container,
.edit__body .ql-container {
  padding: 2rem !important;
}
.create__footer,
.edit__footer {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0.4rem;
  margin-bottom: 6rem;
}
.create__form,
.edit__form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.posts {
  width: 100%;
  max-width: 75rem;
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.posts__list {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.posts__list__item {
  max-width: 75rem;
  margin: 1rem;
  padding: 1.2rem;
  border: 1px solid darkslateblue;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.posts__list__item__wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.posts__list__item__info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.posts__list__item__info__title {
  font-size: 2.3rem;
}
.posts__list__item__info__date {
  font-size: 1.4rem;
}
.posts__list__item__options {
  display: flex;
  gap: 1rem;
}
.posts__list__item__options__view-link, .posts__list__item__options__edit-link {
  font-size: 1.6rem;
  text-decoration: none;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  color: azure;
  background-color: darkslateblue;
  cursor: pointer;
}
.posts__list__item__options__view-link:hover, .posts__list__item__options__edit-link:hover {
  background-color: rgba(72, 61, 139, 0.85);
}
.posts__list__item__image-wrapper {
  width: 20rem;
  height: 20rem;
  position: relative;
  background-color: lightgray;
}
.posts__list__item__image {
  width: auto;
  height: auto;
  object-fit: cover;
}

.select-image-container__button-open {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  color: azure;
  background-color: darkslateblue;
  cursor: pointer;
}
.select-image-container__button-open:hover {
  background-color: rgba(72, 61, 139, 0.85);
}

.select-image {
  position: absolute;
  background-color: whitesmoke;
  width: 95%;
  height: 95%;
  padding: 3rem;
  border: 0.2rem solid darkslateblue;
  overflow-y: scroll;
}
.select-image__preview {
  max-width: 75rem;
  max-height: 30rem;
  overflow: hidden;
  margin-top: 0.4rem;
}
.select-image__preview__image {
  width: 100%;
  object-fit: cover;
}
@media screen and (max-width: 750px) {
  .select-image__preview {
    width: 100%;
  }
}
.select-image__header {
  display: flex;
  gap: 0.4rem;
  margin-top: 0.3rem;
}
.select-image__main {
  max-width: 100%;
}
.select-image__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  color: azure;
  background-color: darkslateblue;
  cursor: pointer;
}
.select-image__button:hover {
  background-color: rgba(72, 61, 139, 0.85);
}
.select-image__button-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: darkslateblue;
  background-color: transparent;
  border: none;
  padding: 1rem;
  cursor: pointer;
}
.select-image__from-url {
  position: relative;
  margin-top: 1rem;
}
.select-image__from-url__label {
  font-size: 1.2rem;
}
.select-image__from-url__input {
  width: 100%;
  height: 4rem;
  font-size: 2rem;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  padding: 2rem;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
}
.select-image__saved {
  margin-top: 1rem;
  height: 15.2rem;
  width: 100%;
  display: flex;
  position: relative;
}
.select-image__saved__button {
  width: 2rem;
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkslateblue;
  border: none;
  color: whitesmoke;
  border-radius: 0.4rem;
  cursor: pointer;
}
.select-image__saved__button--prev {
  left: 0;
}
.select-image__saved__button--next {
  right: 0;
}
.select-image__saved__button:hover {
  background-color: rgba(72, 61, 139, 0.85);
}
.select-image__saved__gallery {
  display: flex;
  gap: 0.2rem;
  margin: 0 2.5rem;
  overflow-x: scroll;
  width: 100%;
}
.select-image__saved__gallery__item {
  position: relative;
}
.select-image__saved__gallery__item__button-background {
  position: absolute;
  height: 4rem;
  width: 100%;
}
.select-image__saved__gallery__item__button {
  position: absolute;
  color: white;
  display: none;
  background-color: transparent;
  border: none;
  padding: 1rem;
  cursor: pointer;
}
.select-image__saved__gallery__item:hover .select-image__saved__gallery__item__button-background {
  background-color: rgba(47, 79, 79, 0.25);
}
.select-image__saved__gallery__item__button-background:hover .select-image__saved__gallery__item__button {
  display: block;
}
.select-image__edit-area {
  border: 1px solid darkslateblue;
  padding: 0.4rem;
  position: relative;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.select-image__edit-area__main {
  display: flex;
}
.select-image__edit-area__selected-image-preview {
  width: 100%;
  max-height: 30rem;
  object-fit: contain;
  overflow: auto;
  margin-top: 0.3rem;
  justify-self: flex-start;
}
.select-image__edit-area__tools {
  padding: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.select-image__edit-area__tools__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  color: azure;
  background-color: darkslateblue;
  cursor: pointer;
}
.select-image__edit-area__tools__button:hover {
  background-color: rgba(72, 61, 139, 0.85);
}
.select-image__editor {
  max-width: 90%;
  height: 90%;
  background-color: whitesmoke;
  border: 0.2rem solid darkslateblue;
  padding: 1rem 1rem 1rem;
  position: relative;
  overflow-y: auto;
  display: flex;
  gap: 1rem;
}
.select-image__editor__button-close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  padding: 1rem;
  cursor: pointer;
}
.select-image__editor__preview {
  max-width: 100%;
  height: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}
.select-image__editor__preview__image {
  max-width: 100%;
  max-height: 100%;
}
.select-image__editor__preview__cropped {
  margin-top: 0.4rem;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.select-image__editor__preview__cropped__image {
  width: 100%;
  height: auto;
}
.select-image__editor__preview__cropped__button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  color: azure;
  background-color: darkslateblue;
  cursor: pointer;
}
.select-image__editor__preview__cropped__button:hover {
  background-color: rgba(72, 61, 139, 0.85);
}
.select-image__editor__preview-label {
  font-size: 1.2rem;
}
.select-image__editor__options {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.select-image__editor__options__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  color: azure;
  background-color: darkslateblue;
  cursor: pointer;
}
.select-image__editor__options__button:hover {
  background-color: rgba(72, 61, 139, 0.85);
}
.select-image__footer {
  width: 100%;
  margin-top: 0.4rem;
  display: flex;
  gap: 0.4rem;
}
.select-image__footer__button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  color: azure;
  background-color: darkslateblue;
  cursor: pointer;
}
.select-image__footer__button:hover {
  background-color: rgba(72, 61, 139, 0.85);
}

/*# sourceMappingURL=index.css.map */
