.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &__title {
        font-size: 3rem;
        margin-top: 1rem;

        .link {
            text-decoration: none;
        }
    }

    &__nav {
        flex-grow: 1;

        &__menu {
            display: flex;
            justify-content: center;
            
            list-style: none;

            &__item {
                margin: 1rem 2rem;
                font-size: 2rem;

                &__link {
                    text-decoration: none;
                }
            }
        }

    }
}