@mixin postcard-layout {
    height: 100%;
    width: 100%;
    border-radius: .4rem;

    @media screen and (min-width: $breakpoint-sm) {
        &:hover {
            transform: scale(1.02);
            transition: transform 0.2s;
        }

        transition: transform 0.1s;
    }
}

@mixin postcard-headline-layout {
    height: 40rem;
}

.postcard-link {
    position: relative;
    z-index: 1;
    user-select: none;
    width: 100%;
    height: 100%;
}

.postcard {
    position: relative;

    @include postcard-layout();

    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        top: 0;
        left: 0;

        &:hover {
            background-color: rgba(#d1d1d1, 0.15);
            transition: background-color 0.4s;
        }
    }

    &__tags {
        margin: 2rem 0;
        overflow: hidden;

        &__list {
            display: flex;
            gap: 1rem;

            &__item {
                padding: 1rem;
                border-radius: 1rem;
                background-color: lighten($color: #d1d1d1, $amount: 10);
            }
        }
    }

    &__image {
        position: relative;
        width: 100%;
        height: 50%;

        img {
            border-top-left-radius: 0.4rem;
            border-top-right-radius: 0.4rem;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__details {
        padding: 1rem;
    }

    &__title {
        text-transform: capitalize;
        max-width: 100%;

        * {
            font-size: 2.8rem;

            @media screen and (max-width: $breakpoint-sm) {
                font-size: 2.4rem;
            }

            @media screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
                font-size: 3.5rem;
            }
        }
    }

    &__date {
        font-size: 1.4rem;
    }

    /* Styles for the first post only */
    &__headline {

        @media screen and (max-width: $breakpoint-md) {
            .postcard__description {
                display: none;
            }            
        }

        @media screen and (min-width: $breakpoint-md) {
            @include postcard-headline-layout();

            display: flex;
            flex-direction: row;

            .postcard {
                //&__overlay {}

                &__image {
                    position: relative;
                    width: 50%;
                    height: 100%;

                    img {
                        border-radius: 0;
                        border-top-left-radius: 0.4rem;
                        border-bottom-left-radius: 0.4rem;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                &__details {
                    width: 50%;
                }

                &__title {
                    * {
                        font-size: 4.2rem;
                    }
                }
            }
        }
    }
}

.postcard-title {
    &__heading {
        text-wrap: nowrap;
        overflow: hidden;
        width: 100%;
    }

    &__text {
        width: auto;
        &--hidden {
            visibility: hidden;
        }
    }
}

.postcard-tooltip {
    z-index: 1000;

    p {
        font-size: 1.6rem;
        max-width: 25rem;
    }
}
