.posts {
    width: 100vw;
    padding: 5rem;

    @media screen and (max-width: $breakpoint-sm) {
        padding: 1rem;
    }

    &__list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 3rem;

        &__item {
            @media screen and (max-width: $breakpoint-sm) {
                width: 100%;   
            }
        }
    }
}
