@mixin postcard-layout {
    width: 40rem;
    height: 40rem;
    border: 1px solid;
    border-radius: 0.4rem;

    @media screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
        width: 50rem;
        height: 50rem;
    }

    @media screen and (min-width: $breakpoint-sm) {
        &:hover {
            transform: scale(1.05);
            transition: transform 0.2s;
        }

        transition: transform 0.1s;
    }
}

.postcard-link {
    position: relative;
    z-index: 1;
    user-select: none;
}

.postcard {
    position: relative;
    @include postcard-layout();

    @media screen and (max-width: $breakpoint-sm) {
        width: 100%;
    }

    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        top: 0;
        left: 0;

        &:hover {
            background-color: rgba(#d1d1d1, 0.15);
            transition: background-color 0.4s;
        }
    }

    &__tags {
        margin: 2rem 0;
        overflow: hidden;

        &__list {
            display: flex;
            gap: 1rem;

            &__item {
                padding: 1rem;
                border-radius: 1rem;
                background-color: lighten($color: #d1d1d1, $amount: 10);
            }
        }
    }

    &__image {
        position: relative;
        width: 100%;
        height: 25rem;

        @media screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
            height: 35rem;
        }

        img {
            border-top-left-radius: 0.4rem;
            border-top-right-radius: 0.4rem;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__details {
        padding: 1rem;
    }

    &__title {
        text-transform: capitalize;
        max-width: 100%;

        * {
            font-size: 2.8rem;

            @media screen and (max-width: $breakpoint-sm) {
                font-size: 2.4rem;
            }
    
            @media screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
                font-size: 3.5rem;
            }
        }

    }

    &__date {
        font-size: 1.4rem;
    }
}

.postcard-title {
    &__heading {
        text-wrap: nowrap;
        overflow: hidden;
        width: 100%;
    }

    &__text {
        width: auto;
        &--hidden {
            visibility: hidden;
        }
    }
}

.postcard-tooltip {
    z-index: 1000;

    p {
        font-size: 1.6rem;
        max-width: 25rem;
    }
}
