@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Quicksand:wght@300..700&display=swap");

@mixin quicksand-font() {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
}

@mixin comfortaa-font() {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
}

body {
    @include quicksand-font();
}

.app-logo {
    @include comfortaa-font();

    &__main {
        font-size: 2.8rem;
    }

    &__sub {
        font-size: 1.6rem;
    }
}