@mixin base-button() {
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    color: azure;
    background-color: darkslateblue;
    cursor: pointer;

    &:hover {
        background-color: rgba($color: darkslateblue, $alpha: 0.85);
    }
}

@mixin icon-button() {
    background-color: transparent;
    border: none;
    padding: 1rem;
    cursor: pointer;
}

.button {
    @include base-button();

    &__submit {
        position: fixed;
        bottom: 10px;
        margin-right: 1rem;
        z-index: $button-submit-z-index;
        font-size: 1.2rem;

        &:disabled {
            cursor: default;
            background-color: rgba(slateblue, 0.85);
        }
    }
}