.locator {
    display: flex;
    height: $locator-height;
    gap: 1rem;
    padding-left: 1rem;
    width: 100%;
    max-width: 75rem;
    padding-top: 0.3rem;
    border-top: 1px solid;

    &__locations {
        font-size: 1.6rem;

        &__location {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}