.menu {
    &__header {
        width: $menu-width;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    width: $menu-width;
    min-width: $menu-width;

    &__nav {
        flex-grow: 1;
        margin-top: 3rem;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        overflow: scroll;

        &__list {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            list-style: none;


            &__item {
                font-size: 2rem;

                display: flex;
                justify-content: flex-start;
                align-items: center;

                //&--active {}

                &__link {
                    width: 100%;
                    padding: 1.6rem;
                    text-decoration: none;
                    display: flex;
                    gap: 1rem;
                }
            }

            /* Hover an item that is NOT active */
            //&__item:hover:not(&__item--active) {}

            /* Use default cursor for active links */
            &__item--active &__item__link {
                cursor: default;
            }
        }
    }
}
