.overlay {
    position: fixed;
    top: 0;
    left: 0;
    //z-index: $overlay-container-z-index;

    width: 100vw;
    height: 100vh;

    background-color: rgba($color: darkslategray, $alpha: 0.55);

    display: flex;
    justify-content: center;
    align-items: center;
}