@import "bubble.css";
@import "snow.css";
@import "highlightjs-themes/github-dark-dimmed.scss";
@import "katex/dist/katex.min.css";

@import "../../sass/dashboard/variables";

.ql-container.ql-snow {
    padding: 0 !important;
    border: none;
}

.ql-toolbar {
    position: sticky !important;
    top: 0 !important;
    z-index: $ql-toolbar-z-index !important;
}

.light {
    .ql-toolbar {
        background-color: #ffffff !important;

        button, span {
            background-color: #ffffff !important;
            color: #222222 !important;

            &:hover {
                color: #aaaaaa !important;
            }
        }
    }  
}

.dark {
    .ql-toolbar {
        background-color: #222222 !important;

        button, span {
            background-color: #222222 !important;
            color: #eeeeee !important;

            &:hover {
                color: #aaaaaa !important;
            }
        }
    }    
}

.ql-editor {
    position: relative !important;
    padding: 0 !important;
}

.ql-overlay {
    position: fixed;
    z-index: 10100;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: burlywood;
    opacity: 0.75;
}

.ql-base-container {
    position: fixed;
    z-index: 11000;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ql-image-container,
.ql-code-container,
.ql-latex-container,
.ql-blockquote-container,
.ql-hyperlink-container {
    position: fixed;

    padding: 2rem;
    padding-right: 4rem;
    margin: 1rem;

    background-color: wheat;
    opacity: 1;
    border: 2px solid chocolate;

    height: calc(100vh - 2rem);
    max-height: calc(100vh - 10rem);
    width: calc(100% - 2rem);
    max-width: 90rem;
    overflow: scroll;
}

.ql-image-container {
    height: 100vh;
    max-height: 100%;
    width: 100vw;
    max-width: 100%;
}

.ql-blockquote-container,
.ql-hyperlink-container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ql-image-preview-wrapper {
    width: 100%;
    height: auto;
    margin-top: 1rem;
    overflow: auto;
}

.ql-code-preview-wrapper {
    width: 100%;
    height: calc(100% - 6rem);
    margin-top: 1rem;
    overflow: auto;
    position: relative;
}

.ql-latex-preview-wrapper {
    width: 100%;
    //height: calc(100% - 6rem);
    height: calc((100% - 6rem) / 2);
    margin-top: 1rem;
    overflow: auto;
    position: relative;
}

.ql-latex-result-preview {
    height: calc((100% - 6rem) / 2);
    width: 100%;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.ql-image-preview {
    width: 100%;
    height: auto;
}

.ql-image-resize-wrapper {
    touch-action: none;
    user-select: none;
    box-sizing: border-box;
    overflow: visible;
    position: relative;
}

.ql-image-resize-wrapper::after {
    border: none;
    padding: 0;
    margin: 0;
    content: url(../../icons/grip.svg);
    position: absolute;
    top: 0;
    right: -24px;
    height: calc(100% - 2px);
    background-color: chocolate;
    border-top: 10px solid chocolate;
    box-sizing: border-box;
}

.ql-image-container-header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 20rem;
}

.ql-code-container-header {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    height: 5rem;
}

.ql-latex-container-header {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    height: 5rem;
}

.ql-src-input-wrapper,
.ql-alt-input-wrapper,
.ql-width-input-wrapper,
.ql-caption-input-wrapper {
    display: flex;
    flex-direction: column;

    label {
        font-size: 1.4rem;
    }
}

.ql-src-input-wrapper {
    width: 100%;
}

.ql-alt-input-wrapper,
.ql-caption-input-wrapper {
    width: 35%;
    margin-right: 0.4rem;
}

.ql-width-input-wrapper {
    width: 10%;
    margin-right: 0.4rem;
}

.ql-quote-input-wrapper,
.ql-author-input-wrapper,
.ql-citation-input-wrapper {
    width: 100%;
}

.ql-quote-input,
.ql-author-input,
.ql-citation-input {
    width: 100%;
}

.ql-hyperlink-href-input-wrapper,
.ql-hyperlink-text-input-wrapper {
    width: 100%;
}

.ql-hyperlink-href-input,
.ql-hyperlink-text-input {
    width: 100%;
}

.ql-button-image-confirm,
.ql-button-code-confirm,
.ql-button-latex-confirm,
.ql-button-blockquote-confirm,
.ql-button-hyperlink-confirm {
    flex-grow: 1;
    width: auto;
    border: none;
    border-radius: 0.4rem;
    background-color: chocolate;
    color: antiquewhite;
    cursor: pointer;
    height: 4rem;
}

.ql-button-edit-image,
.ql-button-remove-image,
.ql-button-edit-code,
.ql-button-remove-code,
.ql-button-edit-latex,
.ql-button-remove-latex,
.ql-button-edit-blockquote,
.ql-button-remove-blockquote,
.ql-button-edit-hyperlink,
.ql-button-remove-hyperlink,
.ql-button-new-line {
    width: 10rem !important;
    height: 4rem;
    padding: 0.5rem;
    border: 2px solid whitesmoke !important;
    background-color: chocolate;
    color: whitesmoke;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    position: relative;
    z-index: 3;
}

.ql-button-edit-image::after {
    width: 2.4rem;
    content: url(../icons/edit-photo.svg);
}

.ql-button-remove-image::after {
    width: 2.4rem;
    content: url(../icons/photo-x.svg);
}

.ql-button-edit-code::after {
    width: 2.4rem;
    content: url(../icons/edit-code.svg);
}

.ql-button-remove-code::after {
    width: 2.4rem;
    content: url(../icons/code-off.svg);
}

.ql-button-edit-latex::after,
.ql-button-edit-blockquote::after {
    width: 2.4rem;
    content: url(../icons/edit.svg);
}

.ql-button-remove-latex::after,
.ql-button-remove-blockquote::after {
    width: 2.4rem;
    content: url(../icons/x-white.svg);
}

.ql-button-close-floating-div {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;

    width: 100%;
    height: 100%;
    z-index: 2;
}

.ql-button-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.ql-button-close::after {
    content: url(../icons/x.svg);
}

@mixin prevent-select {
    user-select: none; /* Standard syntax */
}

@mixin floating-div {
    position: absolute;
    border: 2px solid chocolate;
    padding: 0.4rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0.4rem;
    background-color: rgba(#aaaaaa, 0.3);
}

.ql-floating-div {
    &-image {
        @include floating-div();
    }

    &-code {
        @include floating-div();
    }

    &-latex {
        @include floating-div();

        &--inline {
            min-width: fit-content;
            border: none;
            padding: 0;

            @media screen and (max-width: $breakpoint-sm) {
                width: 100% !important;
                left: 0 !important;
            }
        }
    }

    &-blockquote {
        @include floating-div();

        border-top-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
    }

    &-hyperlink {
        @include floating-div();
        border: none;
        padding: 0;
    }
}

.ql-editor-wrapper {
    position: relative;
}

.ql-editor-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

.ql-editor-loader--loading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    height: 5rem;
}

/* Images gallery */
.ql-gallery-container {
    width: 100%;
    max-width: 100%;
    display: flex;
    /*margin: .1rem 0;*/
}

.ql-gallery-btn-left,
.ql-gallery-btn-right {
    border: none;
    background-color: chocolate;
    color: white;
    height: 10rem;
}

.ql-gallery-btn-left::after {
    content: url(../icons/chevron-left.svg);
}

.ql-gallery-btn-right::after {
    content: url(../icons/chevron-right.svg);
}

.ql-gallery {
    flex-grow: 1;
    display: flex;
    max-width: 100%;
    overflow-x: scroll;
    display: flex;
    gap: 0.2rem;
    margin: 0 0.2rem;
}

.ql-gallery-item {
    position: relative;
    flex-grow: 1;
}

.ql-gallery-item-button-background {
    position: absolute;
    /* background-color: lightgray; */
    height: 3rem;
    width: 100%;
    top: 0;
}

.ql-button-delete {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.ql-button-delete::after {
    content: url(../icons/trash.svg);
}

.ql-gallery-item-image {
    width: auto;
    height: 10rem;
}

/* Ace editor */
#ace-editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

select.ql-select-language {
    height: 4rem;
    width: 12rem;
    background-color: chocolate;
    color: whitesmoke;
    border: none;
    border-radius: 0.4rem;
    padding: 0 2rem;
}

code {
    background-color: transparent !important;
}

.ql-code-block-container {
    @include prevent-select();
    //background-color: rgba($color: #444444, $alpha: 1.0) !important;
    background-color: #24292e;
    color: #ffffff;
    cursor: pointer;
}

.ql-latex-block-container {
    @include prevent-select();
    position: relative;
}

.ql-latex-content {
    display: inline;
}

.ql-latex-display {
    display: block;
    width: 100%;
    padding: 1rem 0;
}

.light {
    .ql-latex-display:hover {
        //background-color: #eeeeee;
        cursor: pointer;
    }
}

.dark {
    .ql-latex-display:hover {
        //background-color: #222222;
        cursor: pointer;
    }
    
}

.ql-latex-inline {
    display: inline-block;
    width: auto;
}

.ql-latex-inline:hover {
    //background-color: #eeeeee;
    cursor: pointer;
}

.ql-latex-inline .base,
.ql-latex-inline .mord {
    display: inline;
    text-wrap: wrap;
    //background-color: #eeeeee;
}

.ql-latex-display-mode-form {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    border: 0.2rem solid chocolate;
    border-radius: 0.4rem;
    height: 4rem;
    padding: 0 2rem;
}

.ql-radio-item {
    display: flex;
    gap: 0.4rem;
}

//.ql-leaf-active {
//    outline: 1px solid blue;
//}

.ql-image-block-container {
    @include prevent-select();
    cursor: pointer;
    padding: 1rem 0;

    & * {
        cursor: pointer;
    }

    &:hover {
        //background-color: #eeeeee;
    }
}

.ql-blockquote-block-container {
    position: relative;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    cursor: pointer;
    @include prevent-select();
    padding: 5rem 4rem 2rem 7rem;

    blockquote {
        padding: 0 !important;
        font-size: 2rem;
        border: none !important;
        padding-bottom: 2rem !important;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            margin: 0 2rem;
            transform: rotate(180deg);
        }

        &::after {
            position: absolute;
            bottom: 0;
            right: 0;
            content: url(../icons/quote-light.svg);
            margin: 0 2rem;
        }
    }

    figcaption {
        display: flex;
        gap: 1rem;

        .ql-quote-author {
            &::before {
                content: "\02015\0205F";
            }

            &::after {
                content: ",";
            }
        }
    }
}

.light {
    .ql-blockquote-block-container {
        border: 1px solid darkslateblue;
        border-left-width: 3rem;

        blockquote::before {
            content: url(../icons/quote-light.svg);
        }
        blockquote::after {
            content: url(../icons/quote-light.svg);
        }
    }
}

.dark {
    .ql-blockquote-block-container {
        border: 1px solid #aaaaaa;
        background-color: #222222;

        blockquote::before {
            content: url(../icons/quote-dark.svg);
        }
        blockquote::after {
            content: url(../icons/quote-dark.svg);
        }
    }
}

//#toolbar {}
.ql-hyperlink-block-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
