@use "./mixins";

.home-page,
.about-page,
.write-page,
.edit-page,
.show-page,
.posts-page,
.account-page,
.tags-page,
.tag-page,
.loading-page,
.error-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    margin: 0 1rem;
    width: 100%;
    max-width: 75rem;

    @include empty-list();
}

.home-page {
    &__heading {
        padding-bottom: 1rem;
        font-weight: 600;
    }

    h2 {
        font-weight: 600;
    }

    @include appear();
}

.tags-page {
    .tags {
        margin: 2rem 1rem;

        &__list {
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;

            a {
                text-decoration: none;
            }

            &__item {
                padding: 1rem 2rem;
                background-color: $background-color-body-light;
                border-radius: 1rem;
                font-size: 1.6rem;
                display: flex;
                gap: 0.6rem;
                align-items: center;
            }
        }
    }
}

.tag-page {
    width: 100%;
    display: flex;
    flex-direction: column;

    .tag-name {
        font-size: 1.6rem;
        margin: 2rem 1rem;
        display: flex;
        gap: 0.6rem;
        align-items: center;
    }

    .no-posts-message {
        margin: 0 1rem;
    }
}

.tag-posts {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__list {
        a {
            text-decoration: none;
        }

        &__item {
            margin-bottom: 2rem;

            .tag-post {
                padding: 1rem;

                &__title {
                    text-transform: capitalize;
                    font-size: 1.6rem;
                }

                &__tags {
                    &__list {
                        display: flex;
                        gap: 1rem;

                        &__item {
                            padding: 1rem;
                            background-color: $background-color-body-light;
                            border-radius: 1rem;
                            display: flex;
                            gap: 0.4rem;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}