.home-page,
.about-page,
.write-page,
.edit-page,
.show-page,
.posts-page,
.account-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    margin: 0 1rem;
    width: 100%;
    max-width: 75rem;
}

.home-page {
    &__heading {
        padding-bottom: 1rem;
        font-weight: 600;
    }

    h2 {
        font-weight: 600;
    }

    @include appear();
}
