.posts {
    width: 100%;
    max-width: 75rem;
    flex-grow: 1;
    position: relative;

    display: flex;
    flex-direction: column;
    height: 100%;

    opacity: 0;
    @include appear();

    &__list {
        display: flex;
        flex-direction: column;
        height: 100%;

        &__item {
            max-width: 75rem;
            height: auto;
            margin: 1rem 0;
        }
    }

    @media screen and (max-width: $breakpoint-md) {
        align-items: center;

        &__list {
            width: 100%;
            max-width: 60rem;
            justify-content: center;
        }
    }
}
