@keyframes openlink {
    0% {
        opacity: 0;
        left: 0;
    }

    100% {
        opacity: 1;
        left: 100%;
    }
}

@keyframes disapear {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

section {
    width: 100%;
    margin-bottom: 3rem;
}

.stats,
.options,
.recent-posts,
.last-edited {
    width: 100%;
    margin-bottom: 2rem;
}


.recent-posts:hover {
    .headline__button {
        animation-name: openlink;
        animation-duration: 0.7s;
        animation-fill-mode: both;
    }

    .headline__icon {
        animation-name: disapear;
        animation-duration: 0.35s;
        animation-fill-mode: both;
    }
}

.headline {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    position: relative;
    height: 3rem;
    width: max-content;
    font-weight: 500;

    &__text {
        display: flex;
        align-items: center;
        background-color: white;
        position: relative;
        z-index: 1;
    }

    &__button {
        display: flex;
        align-items: center;
        position: absolute;
        width: max-content;
        left: 0;
        margin-left: 1rem;
        //opacity: 0;

        &__link {
            display: flex;
            align-items: center;
            position: relative;
            height: 2rem;
            font-weight: 600;
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        position: absolute;
        left: 100%;
    }
}


.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3rem;

    @media screen and (max-width: $breakpoint-sm) { 
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .link {
            width: 90%;
        }
    }

    .link {
        text-decoration: none;
        font-size: 1.6rem;
    }
    
    .link-card {
        border: .1rem solid;
        border-radius: .4rem;
        padding: 2rem;
    
        display: flex;
        justify-content: center;
        gap: 1rem;
    
        .link-title {
            margin-bottom: 1rem;
        }
    }
}