.header__menu-widget {
    padding: 5rem 0;
    display: none;

    &__button {
        display: none;
    }
}

@media screen and (max-width: $breakpoint-md) {
    .header__menu-widget {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: $menu-widget-z-index;
        width: 100%;
        height: 100%;
        color: white;

        &__scrollable-container {
            overflow: scroll;
            .button-logout {
                font-size: 2rem;
                font-weight: 100;
            }
        }

        &__button {
            background-color: transparent;
            border: none;
            display: block;
            position: absolute;
            top: 1rem;
            right: 1rem;
            color: white;
            cursor: pointer;

            &--open {
                color: black;
            }
        }

        .dashboard {
            &__menu {
                &__nav {
                    &__list {
                        &__item {
                            &--active {
                                background-color: lightslategray;
                            }
                            &__link {
                                color: white;
                                //&__text {}
                            }
                        }
                    }
                }
            }
        }
    }
}
